
@font-face {
    font-family: 'MJGranada';
    src: url('../Fonts/MJGranada.ttf') format('truetype');
}
@font-face {
    font-family: 'ethnocentric';
    src: url('../Fonts/ethnocentric.ttf') format('truetype');
}
@font-face {
    font-family: 'Prototype';
    src: url('../Fonts/Prototype.ttf') format('truetype');
}
@font-face {
    font-family: 'Opificio';
    src: url('../Fonts/Opificio.ttf') format('truetype');
}
.header {
    /*/background: #558C89;*/
}
h1 {
    font-size: 400%;
    font-family: Opificio;
    text-indent: 30px;
    color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.bodyColor{
    background-color: rgba(85,140,137,0.7);
}
.nameEntry{
    opacity: 1.0;
    font-size:150%;
    font-family: Opificio;
    color: #FFFFFF;
    /*top: 10%;*/
    /*width: 300px;*/
    /*margin-top: -125px; */
    /*margin-left: 10px;*/
    /*position: absolute;*/
}
.firstName {
    margin-left:100px;
    float:left;
    width:300px;
    overflow:hidden;
}
.lastName {
    float:left;
    width:300px;
    overflow:hidden;
}