
.Initial
{
    display: block;
    padding: 10px 28px 10px 28px;
    float: left;
    background: url("../Images/leaf_un.png") no-repeat right top;
    color: Black;
    font-weight: bold;
}
.Initial:hover
{
    color: White;
    background: url("../Images/leaf_hov.png") no-repeat right top;
}
.Clicked
{
    float: left;
    display: block;
    background: url("../Images/leaf_cli.png") no-repeat right top;
    padding: 10px 28px 10px 28px;
    color: Black;
    font-weight: bold;
    color: White;
}


